.first-step-form {
    &-form {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 48px;
    }

    &-fields {
        display: flex;
        flex-direction: column;
    }

    &-text-field {
        width: 100%;
        max-width: 300px;
        height: 44px;
        margin: 0;

        svg {
            top: calc(50% - 4px);
            right: 16px;
        }
    }

    &-credential {
        position: relative;
    }

    &-input {
        height: 44px;

        input {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &-helper {
        position: absolute;
        bottom: -28px;
        font-size: 12px;
        line-height: 16px;
    }

    &-select {
        margin-top: 8px;
        width: 100%;
        max-width: 300px;
        height: 44px;

        svg {
            top: calc(50% - 4px);
            right: 16px;
        }
    }

    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 88px;
        gap: 12px;
    }

    @media screen and (max-width: 768px) {
        &-form {
            margin-top: 48px;
            gap: 24px;
        }

        &-helper {
            bottom: -20px;
        }
    }

    @media screen and (max-width: 400px) {
        &-footer {
            flex-direction: column-reverse;
        }
    }
}
