:root {
    --color-essential: #ffffff;
    --color-black:#000000;
    --color-transparent: #0000;
    --color-background-layout: #f4f4f5;
    --color-purple: #5558fa;
    --color-avatar: #d5e4f7;
    --color-avatar-font: #212830;
    --color-font: #333333;
    --color-light-gray: #a6a6a6;
    --color-gray: #666666;
    --color-error: #d32f2f;
    --color-border: #00000033;
    --color-shadow-fullscreen: #00000029;
    --color-background-preloader: #f4f4f529;
}
